block variables
  - var CWD = '/'
  - var title = 'Website title'

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title=title
    link(href="assets/css/app.min.css" rel='stylesheet')
  body
    main.container
      block content
    script(src="assets/js/index.min.js")