block variables
  - var CWD = '/'
  - var title = 'Website title'

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=`, initial-scale=1.0")
    title=title
  body
    main.container
      block content